<br>
<br>
<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">GREENPEACE
                <small>We love oil</small>
            </h1>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-6">
	        <img class="img-responsive" src="https://s3.amazonaws.com/main-newsbtc-images/2014/09/Greenpeace-Logo-Green2-825x510.jpg" alt="">
	    </div>
	    <div class="col-md-6">
	        <h3>About Us</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
	        
	        <h3>Contact Us</h3>
                <div class="test">
                    <i class="fa fa-phone"></i> 
                    <abbr title="Phone"></abbr>: (123) 456-7890
                </div>
                <div class="test"> 
                    <i class="fa fa-envelope-o"></i> 
                    <abbr title="Email"></abbr>: <a href="mailto:name@example.com">green@email.com</a>
                </div>

	        <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="https://www.facebook.com/greenpeace.international"><i class="fa fa-facebook-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/greenpeace"><i class="fa fa-linkedin-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/Greenpeace?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter-square fa-4x"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+GreenpeaceUSA"><i class="fa fa-google-plus-square fa-4x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-y-combinator fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/GreenpeaceVideo"><i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://github.com/greenpeace"><i class="fa fa-git-square fa-4x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/greenpeace/?hl=en"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                </li>
            </ul>
	    </div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projects We Cared</h1>
        </div>
    </div>

 	<div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAc7AAAAJGM0ZjUzYTY5LTkzNDktNDYzZC04YmZiLTM0NGQwZDNkZjZjOA.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Amazon</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://www.sojho.com/libs/uploads/2015/03/panda.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Panda</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://4.bp.blogspot.com/-YR1RRC_-iic/USF53txS7ZI/AAAAAAAAAfc/1a8-vxjScho/s1600/sperm-whale4.png" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Whale</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://prospertere.com/wp-content/uploads/2016/03/324oil-750x450.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Oil</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://metal-fatigue-solutions.com/newsite/wp-content/uploads/2015/02/Nuclear.png" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Nuke</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://westernresourceadvocates.org/wp-content/uploads/2015/07/solar-panel.jpg" alt="">
            </a>
            <h3>
                <a href="portfolio-item.html">Project Sun</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>

    <hr>
    
</div>


